@page "/project"
@using Backtalk.Classes
@using Backtalk.Classes.Data;
@using Backtalk.Services
@inject AppDb db
@inject INotificationService notificationService

<div class="main-content-container">
    <div class="main-content-header" style="@headerStyle" @onclick='() => ChangeFocus("header")'>
        <button type="button" class="project-option-button">File</button>
        <button type="button" class="project-option-button">Edit</button>
        <button type="button" class="project-option-button">View</button>
        <button type="button" class="project-option-button">Git</button>
        <button type="button" class="project-option-button">Project</button>
        <p class="main-content-header-name">@project.name</p>
        <p class="main-content-header-project-info">API Version: @project.api_version</p>
    </div>
    <div class="main-content-body">
        @if (!keyGiven)
        {
            <p>It looks like there was no project key provided; therefore, I cannot get any project data!</p>
        } else
        {
            <div class="project-config-explorer" style="@configStyle" @onclick='() => ChangeFocus("config")'>

            </div>
            <div class="endpoint-editor" style="@editorStyle" @onclick='() => ChangeFocus("editor")'>
            </div>
            <div class="project-endpoints-explorer" style="@endpointsStyle" @onclick='() => ChangeFocus("endpoints")'>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "key")]
    public string key { get; set; } = "no key provided";

    [Parameter]
    [SupplyParameterFromQuery(Name = "page")]
    public string page { get; set; } = "default";

    private bool keyGiven = true;

    private ProjectData project = new ProjectData();

    private string headerStyle = "";
    private string configStyle = "";
    private string editorStyle = "";
    private string endpointsStyle = "";
    private string activeStyle = "border-color: var(--bt-primary-color); box-shadow: 0px 10px 15px 5px rgba(27, 178, 37, 0.2);";

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(key))
        {
            keyGiven = false;
            StateHasChanged();
            await Task.Yield();
            return;
        }

        var project2 = await db.Projects.GetAsync<Guid, ProjectData>(Guid.Parse(key));
        if (project2 == null)
        {
            Notification notif = notificationService.PopupNotificationError();
            notif.message = "Unable to find project with the provided key.";
            await notificationService.CreatePopupNotificationAsync(notif);
            Console.Error.WriteLine("Unable to find project with provided key in database!\n" + key);
            return;
        }
        project = project2;
    }


    private async Task ChangeFocus(string containerName)
    {
        switch (containerName)
        {
            case "header":
                headerStyle = activeStyle;
                configStyle = "";
                editorStyle = "";
                endpointsStyle = "";
                break;
            case "config":
                headerStyle = "";
                configStyle = activeStyle;
                editorStyle = "";
                endpointsStyle = "";
                break;
            case "editor":
                headerStyle = "";
                configStyle = "";
                editorStyle = activeStyle;
                endpointsStyle = "";
                break;
            case "endpoints":
                headerStyle = "";
                configStyle = "";
                editorStyle = "";
                endpointsStyle = activeStyle;
                break;
            case "background":
                headerStyle = "";
                configStyle = "";
                editorStyle = "";
                endpointsStyle = "";
                break;
        }
    }

}
