@using Backtalk.Components
@using Blazored.LocalStorage
@using System.Text.Json
@using Backtalk.Classes
@inject ILocalStorageService ls
@page "/projects"
<PageTitle>Projects | BackTalk</PageTitle>

<div class="main-content-container">
    <div class="main-content-header">
        <div class="main-content-header-info-container">
            <p class="main-content-header-info-text">Your Projects</p>
            <button type="button" class="create-project-button" title="Create a new project!" @onclick="NewProjectButtonClicked">+</button>
        </div>
        <div class="horizontal-divider-mw mt-2"></div>
    </div>
    <div class="main-content-body">
        @if (loadingProjects)
        {
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
        }
        @if (!hasProjects)
        {
            <p class="projects-no-projects-text">It looks like you haven't created or imported any projects! <br /> Sign in or Create/Import a project to get started!</p>
        }
        @if (hasProjects && !loadingProjects)
        {
            foreach (var project in projects)
            {
                <ProjectItem ></ProjectItem>
            }
        }
    </div>
    <form class="project-creation-modal" @onsubmit="PcModalCreateProjectButtonClicked">
        <button type="button" class="pc-modal-close-button">X</button>
        <p class="pc-modal-header">Create New Project</p>
        
        <label for="pc-modal-project-name" class="pc-modal-label">Project Name:</label>
        <input @bind="newProjectName" @bind:after="PcModalInputFieldChanged" type="text" required class="pc-modal-project-name pc-modal-input" placeholder="Enter Name.." />
    
        <label for="pc-modal-project-short-description" class="pc-modal-label">Project Short Description:</label>
        <input @bind="newProjectShortDescription" @bind:after="PcModalInputFieldChanged" type="text" class="pc-modal-project-short-description pc-modal-input" placeholder="Enter a short description, i.e. 1-2 sentences.." />

        <label for="pc-modal-project-long-description" class="pc-modal-label">Project Long Description:</label>
        <input @bind="newProjectDescription" @bind:after="PcModalInputFieldChanged" type="text" class="pc-modal-project-long-description pc-modal-input" placeholder="Enter a long description, i.e. 3-6+ sentences.." />

        <label for="pc-modal-project-authors-container" class="pc-modal-label">Project Authors:</label>
        <div class="pc-modal-authors-container">
            @for (int i = 0; i < newProjectData.authors.Count; i++)
            {
                //Key stops blazor from just removing the last entry in the list on the ui side. 
                <AuthorBusinessCard @key="@(newProjectData.authors[i])" index="@(i)" authorDetails="@(newProjectData.authors[i])" showRemoveIcon="@true" authorDetailsChanged="PcModalHandleAuthorDetailsChanged" authorRemoveButtonClicked="PcModalRemoveAuthor"></AuthorBusinessCard>
            }
        </div>
        <button type="button" class="pc-modal-author-add-button" @onclick="PcModalAddNewAuthor">Add Another Author</button>
    </form>
</div>

@code {

    private bool loadingProjects = true;
    private bool hasProjects = true;

    private List<ProjectData> projects = new List<ProjectData>();

    private string newProjectName = "";
    private string newProjectShortDescription = "";
    private string newProjectDescription = "";
    private ProjectData newProjectData = new () {
        name = "",
        short_description = "",
        description = "",
        authors = new List<Author>(),
        contacts = new List<ContactOption>(),
        last_updated_utc = DateTime.UtcNow,
        api_version = "1.0.0",
        config = new()
    };

    protected override async Task OnInitializedAsync()
    {
        //When the page is first initialized, check the localstorage for any existing projects.
        projects = await ls.GetItemAsync<List<ProjectData>>("user_projects");
        if (projects == null || projects.Count <= 0) 
        {
            await ls.SetItemAsync<List<ProjectData>>("user_projects", new List<ProjectData>());
            hasProjects = false;
        }
        loadingProjects = false;
        StateHasChanged();
        await Task.Yield();
    }

    private async Task NewProjectButtonClicked()
    {

    }

    private async Task PcModalInputFieldChanged()
    {

    }

    private async Task PcModalAddNewAuthor()
    {
        var index = newProjectData.authors.Count;
        newProjectData.authors.Add(new Author()
        {
            index = index
        });
        Console.WriteLine("Added new author with index: " + index);
        Console.WriteLine("Updated Authors List:");
        foreach (var author in newProjectData.authors)
        {
            Console.WriteLine(JsonSerializer.Serialize<Author>(author));
        }
        //Console.WriteLine("Added new author!");
        //Console.WriteLine(JsonSerializer.Serialize<Author>(new Author()));
        StateHasChanged();
        await Task.Yield();
    }
    private async Task PcModalRemoveAuthor(Author author)
    {
        //remove author from the list and then update the indexs of all the other authors.
        newProjectData.authors.RemoveAt(author.index);
        Console.WriteLine("Removed author at index: " + author.index);
        for (int i = 0; i < newProjectData.authors.Count; i++)
        {
            Console.WriteLine($"Updated author at index {i}: old index: {newProjectData.authors[i].index}");
            newProjectData.authors[i].index = i;
        }
        Console.WriteLine("Updated Authors List:");
        foreach (var author2 in newProjectData.authors)
        {
            Console.WriteLine(JsonSerializer.Serialize<Author>(author2));
        }
        StateHasChanged();
        await Task.Yield();
    }

    private async Task PcModalHandleAuthorDetailsChanged(Author updatedAuthor)
    {
        //Console.WriteLine("Updated author details at index: " + updatedAuthor.index);
        //Console.WriteLine("Old author details: " + JsonSerializer.Serialize<Author>(newProjectData.authors[updatedAuthor.index]));
        //Console.WriteLine("New author details: " + JsonSerializer.Serialize<Author>(updatedAuthor));
        newProjectData.authors[updatedAuthor.index] = updatedAuthor;
        //StateHasChanged();
        //await Task.Yield();
    }

    private async Task PcModalCreateProjectButtonClicked()
    {
        
    }
}